
h1 {
    text-align: center;
    color: red;
}
#divbox{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}
#divbox div {

    width: 500px;
    height: 250px;
    border: 1px solid black;
}