body{
    background-color: rgb(87, 87, 87);
}

#header{

    margin: -10px;
    padding: 10px;
    background-color: rgb(128, 128, 128);
    display: flex;
    align-items: center;
}

h1 {
    padding: 8px 20px;
}
#divbox{
    display: flex;
    width: 100%;
    height: 250px;
    align-items: center;
    justify-content: center;

}
#divbox #divv {
    width: 90%;
    height: 250px;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
}
.conte{
    width: 100%;
    height: 25px;
    margin: 10px 0px;
    background-color:rgb(137, 137, 137);
}
footer{
    display: flex;
    align-items: center;
    flex-direction: column;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgb(69, 69, 69);
    margin: 0 -8px ;
}
li {
    list-style: none;
    text-decoration: none;
    color: rgb(0, 0, 0);
    margin: 2px -55px;
}

